h1 Hey #{name}!
p.
  We are pleased to see you in our application. Thank you very much!
  #[br]
  Please, make yourself comfortable!
p.
  Click #[a(href=email_verification_link) here] to confirm your email address.
p.
  Best regards, #[br]
  DevTeam