h1 Hey #{name}!
p.
  We are pleased to see you in our application. Thank you very much!
  #[br]
  Please, make yourself comfortable!
p.
  Before continuing to user our application you need to confirm your email address. #[a(href=email_verification_link) click] here to do it.
p.
  Best regards,
  DevTeam